.BookCard {
    width: 270px;
    height: 460px;
    margin: 0;
    padding: 0;
    box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.05);
    background-color: rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;

}
.BookCard-link{
    text-decoration: none;
}

.BookCard-image {
    width: 170px;
    height: 250px;
    margin: 0 auto;
    padding: 0;
    box-shadow: 10px 5px 5px gray;
}

.BookCard-description {
    margin: 0;
    padding: 20px 10px 0 10px;
    display: flex;
    flex-direction: column;
    height: 130px;
}

.BookCard-category {
    margin: 0;
    padding: 0;
    font-size: medium;
    color: grey;
    font-weight: 400;
    text-decoration: underline;
}

.BookCard-title {
    margin: 0;
    padding: 10px 0;
    font-size: large;
    color: black;
    font-size: 500;
}

.BookCard-author {
    margin: 0;
    padding: 10px 0;
    font-size: medium;
    color: grey;
    font-weight: 400;
}